html {
    font-family: 'Public Sans', 'Helvetica', sans-serif;
    height: auto;
/*     font-family: Sentinel SSm A, Sentinel SSm B, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;*/
    
}

body {
	margin: 0;
	padding: 0;
}

header {
	background-color: #1c4996;
	margin: auto;
	height: 20%;
	width: 100%;
}

a {
	text-decoration: none;
	color: #000000;
}


ul {
	align-content: center;
	margin: auto;					/*due to this header touched to top end*/
	padding: 0;
	border: 0;
	width: 100%;
	color: #ffffff;
}

ul li {
	display: inline;
	list-style: none;
	align-content: center;
	vertical-align: middle;					/*most imp*/
	padding: 30px 5px 10px 20px;
}

#logo-name {
	font-size: 3em;
}

.link-menu {
	float: right;
	margin: 0px 20px;
	margin-top: 2%;
	padding: 10px 26px;
	background-color: papayawhip;
	color: #000000;
	font-weight: 300;
	display: inline-block;
	text-decoration: none;
}

.link-menu > a:hover {			/*subclass*/
	color: #ffffff;
}

.link-menu:hover {
	background-color: brown;
}

article {
	height: 60%;
}

h1 {
	margin:	50px 55px;
	font-size: 24px;
}

table {
	margin: 30px 55px;
	width: 90%;
	text-align: center;
	
}

table tr {
	padding: 10px 10px;
	vertical-align: middle;
}

table th, td {
	padding: 10px 10px;
}

.align-name-left {
	text-align: left;
	margin-left: 10px;
}

.align-price-right {
	text-align: right;
	margin: 10px 10px;
}

.page-container {
	position: relative;
	min-height: 100vh;
}

.content-wrap {
	padding-bottom: 3rem;									/*footer-height*/
}

footer {
	background-color: #005073;
	color: #ffffff;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 3rem;										/*footer-height:3rem*/
	padding-left: 0.1e;
	padding-right: 0;
}

