html {
    font-family: 'Public Sans', 'Helvetica', sans-serif;
    height: auto;
/*     font-family: Sentinel SSm A, Sentinel SSm B, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;*/
    
}

body {
	margin: 0;
	padding: 0;
}

.page-container {
	position: relative;
	min-height: 100vh;
}

.content-wrap {
	padding-bottom: 3rem;									/*footer-height*/
}

header {
	background-color: #1c4996;
	margin: auto;
	height: 20%;
	width: 100%;
}

a {
	text-decoration: none;
	color: #000000;
}


ul {
	align-content: center;
	margin: auto;					/*due to this header touched to top end*/
	padding: 0;
	border: 0;
	width: 100%;
	color: #ffffff;
}

ul li {
	display: inline;
	list-style: none;
	align-content: center;
	vertical-align: middle;					/*most imp*/
	padding: 30px 5px 10px 20px;
}

#logo-name {
	font-size: 3em;
}

.link-menu {
	float: right;
	margin: 0px 20px;
	margin-top: 2%;
	padding: 10px 26px;
	background-color: papayawhip;
	color: #000000;
	font-weight: 300;
	display: inline-block;
	text-decoration: none;
}

.link-menu > a:hover {			/*subclass*/
	color: #ffffff;
}

.link-menu:hover {
	background-color: brown;
	cursor: pointer;
}

article {
	height: 60%;
}

h1 {
	margin:	50px 55px;
	font-size: 24px;
}

#edit-menu-status {
	margin:	50px 55px;
	font-size: 18px;
	font-weight: 300;
	color: firebrick;
}

table {
	margin: 30px 55px;
	width: 90%;
	text-align: center;
/*	align-content: center;*/
}

table tr {
	padding: 10px 10px;
	vertical-align: middle;
}

table th, td {
	padding: 10px 10px;
}

.align-name-left {
	text-align: left;
	margin-left: 10px;
}

.align-price-right {
	text-align: right;
	margin: 10px 10px;
}

form {
    width: auto;
    padding: 25px 10px 35px 60px;
}

#inPrice, #inActive, #dol, #category {
    display: inline-block;
    padding-right: 8%;
}

label {
	text-align: left;
}

#title, #price, #date, #dropdown {
	height: 100%;
/*	width: 80%;*/
	margin: 5px;
	padding: 10px 10px;
	border-radius: 5px;
	font-size: 15px;
	border-color: #004275;
	border-style: solid;
}

#title {
	width: 73.7%;
}

#price {
	text-align: right;
}

#date {
	font-size: 14px;
	text-align: left;
}

/*CHECKBOX*/
/* Customize the label (the container) */
.checkboxes {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-top: 12px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 16px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Hide the browser's default checkbox */
.checkboxes input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkboxes:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkboxes input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkboxes input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkboxes .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
	height: 10px;
  	border: solid white;
  	border-width: 0 3px 3px 0;
  	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
  	transform: rotate(45deg);
} 

/*RADIO BUTTONS*/
 /* Customize the label (the container) */
.label-container {
    display: inline-block;
  	position: relative;
	padding-left: 35px;
  	margin-bottom: 12px;
  	cursor: pointer;
  	font-size: 16px;
  	-webkit-user-select: none;
  	-moz-user-select: none;
  	-ms-user-select: none;
  	user-select: none;
}

/* Hide the browser's default radio button */
.label-container input {
  	position: absolute;
  	opacity: 0;
  	cursor: pointer;
  	height: 0;
  	width: 0;
}

/* Create a custom radio button */
.checkmark {
  	position: absolute;
  	top: 0;
  	left: 0;
  	height: 25px;
  	width: 25px;
  	background-color: #eee;
  	border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.label-container:hover input ~ .checkmark {
  	background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.label-container input:checked ~ .checkmark {
  	background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  	content: "";
  	position: absolute;
  	display: none;
}

/* Show the indicator (dot/circle) when checked */
.label-container input:checked ~ .checkmark:after {
  	display: block;
}

/* Style the indicator (dot/circle) */
.label-container .checkmark:after {
  	top: 9px;
  	left: 9px;
  	width: 8px;
  	height: 8px;
  	border-radius: 50%;
  	background: white;
} 

.save-btn {
	float: left;
	padding: 10px 40px;
	background-color: #005073;
	color: #ffffff;
	font-size: 20px;
	font-weight: 200;
	display: inline-block;
	text-decoration: none;
}

.save-btn > a:hover {			/*subclass*/
	color: #ffffff;
}

.save-btn:hover {
	background-color: #1c4996;
	cursor: pointer;
}

footer {
	background-color: #005073;
	color: #ffffff;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 3rem;										/*footer-height:3rem*/
	padding-left: 0.1e;
	padding-right: 0;
}

